{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/about.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="div-height">
    <div class="headline">
        <h1>
            <span class="comm-headline">
                <span>About Us</span>
            </span>
        </h1>

    </div>
</section>


<section>
    <div class="about-section  about-page-section-space pt-130">
        <div class="container">
            <div class="row shiftimage">
                <div class="imageset">
                    <div class="testimonial-image">
                        <img class="imageabout" src="https://www.eliteproinfra.com/front/images/about/about.jpg" alt="">
                    </div>
                </div>
                <div class="textset">
                    <div class="section-title v3">
                        <!-- <p>About ElitePro</p> -->
                        <h3>"Seamless Real Estate Transactions in Gurgaon with Gurgaon Heights."</h3>
                    </div>
                    <div class="about-text res-box">
                        <p>
                            Gurgaon Heights is a premier real estate advisory services firm based in Gurgaon. With years of experience and a strong reputation in the industry, we offer personalized attention and tailored solutions for buying, selling, and renting residential and commercial properties. Our extensive property database, along with assistance in property valuation, legal documentation, and financing, ensures a seamless and hassle-free transaction. </p>

                        <p> With a commitment to exceptional customer service and professionalism, Gurgaon Heights is dedicated to meeting the unique real estate needs of our clients in Gurgaon. Contact us today for all your real estate requirements. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="promodemo-section pt-120 v2">
        <div class="containerdemo">
            <div class="row">
                <div class="col-xl-5 col-lg-12">
                    <div class="promodemo-desc">
                        <div class="section-title v2">
                            <!--  <p>Lorem ipsum dolor sit.</p> -->
                            <h2>Why choose us</h2>
                        </div>
                        <div class="promodemo-text">
                            <p><b>Choose a Pro, Like a Pro!</b></p>
                            <p>We are an inclusive and insight-driven consultancy and have been making a difference in
                                the Real Estate world by providing customer-centric solutions. Finding the best,
                                comfortable, and luxurious place to lead a wholesome lifestyle is not less than a trial
                                by fire but with us, it is easy and hassle-free. With ElitePro, you can delve into the
                                intricacies of design concepts, architecture, and the value of the place you’ve dreamt
                                of. Providing expert guidance to give you a detailed insight of the structures and the
                                development practices used is the ElitePro edge. </p>
                            <p>When you seek services from us, you receive impeccable results as our specialized
                                professionals dedicatedly work towards delivering you an immersive and transparent
                                home-buying and investing experience. </p>
                        </div>
                        <div class="row pt-5">
                            <div class="col-sm-4 col-6">
                                <div class="counterdemo-text v2">
                                    <i class="fa fa-building"></i>
                                    <h6 class="counterdemo-value" data-from="0" data-to="10" data-speed="2500">10</h6>
                                    <p>Years of experience</p>

                                </div>
                            </div>
                            <div class="col-sm-4 col-6">
                                <div class="counterdemo-text v2">
                                    <i class="fa fa-thumbs-up"></i>
                                    <h6 class="counterdemo-value" data-from="0" data-to="25500" data-speed="2000">25500
                                    </h6>
                                    <p> Happy Customers</p>
                                </div>
                            </div>
                            <div class="col-sm-4 col-6">
                                <div class="counterdemo-text v2">
                                    <i class="fa fa-user"></i>
                                    <h6 class="counterdemo-value" data-from="0" data-to="500" data-speed="2500">500</h6>
                                    <p>Real estate Agent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="promodemo-content-wrap">
                                <div class="promodemo-content">
                                    <img src="/static/img/about/pin.png" alt="Personalized Service">
                                    <h4>Expertise:</h4>
                                    <p>Gurgaon Heights has a team of highly skilled and experienced professionals who have in-depth knowledge of the Gurgaon real estate market. They can provide valuable insights into market trends, property valuations, legal documentation, and financing options. </p>
                                </div>
                                <div class="promodemo-content">
                                    <img src="/static/img/about/pin2.png" alt="Best Deals &amp; Easy Financing">
                                    <h4>Personalized Attention:</h4>
                                    <p>We understand that every client has unique requirements, which is why we provide personalized attention and tailored solutions to meet their specific needs. Our team is always available to answer questions, provide guidance, and assist with any real estate-related matters. </p>
                                </div>
                                <div class="promodemo-content">
                                    <img src="/static/img/about/pin3.png" alt="Round-the-Clock Support">
                                    <h4>Hassle-Free Transactions:</h4>
                                    <p>Buying or selling a property can be a complex and time-consuming process. Gurgaon Heights provides end-to-end assistance to ensure that every transaction is smooth, hassle-free, and completed in a timely manner.</p>
                                </div>
                                <div class="promodemo-content">
                                    <img src="/static/img/about/pin4.png" alt="Trusted for Delivering the Best">
                                    <h4>Professionalism:</h4>
                                    <p>We believe in conducting business with integrity and professionalism. We adhere to ethical standards and maintain transparency throughout the transaction process. Our goal is to ensure that our clients are satisfied with our services and have a positive experience working with us. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
{% endblock %}